<!DOCTYPE html>
<html>
  <head>
    <title>Order Ebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", defer: true %>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>